@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

$primary-color: white;
$font-primary: "Poppins", sans-serif;

* {
  font-family: $font-primary;
}

body {
  background-image: url("../images/bg-intro-desktop.png");
  background-color: hsl(0, 100%, 74%);
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  margin-top: 80px;
  margin-inline:200px ;

  .left-sec {
    width: 45%;
    .title {
      color: $primary-color;
      font-size: 3rem;
    }
    .paragraph {
      color: $primary-color;
    }
  }

  .right-sec {
    width: 45%;
    .container-form {
      .freetrial {
        background-color: #5d54a3;
        border-radius: 7px;
        width: 32rem;
        box-shadow: 0px 7.5px 0px 0px rgba(0,0,0,0.17);
        .trial-text {
          color: $primary-color;
          font-size: 16px;
          text-align: center;
          padding: 13px;
        }
      }

      .form {
        min-height: 26rem;
        width: 32rem;
        border-radius: 7px;
        background-color: $primary-color;
        display:flex ;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: -1px 10px 0px -1px rgba(0,0,0,0.18);

        .form-item {
          margin-top: 10px;

            .form-input {
                width: 24rem;
                height: 50px;
                text-align: left;
                border-radius: 5px;
                border: solid 0.5px rgb(186, 186, 186);
                font-weight:500;
                padding-left: 25px;

                &:active {
                  border: solid 0.5px #5d54a3
                }
            }
            .form-error {
              border: solid 2px #ff6969;
              color: #ff6969;
            }
        };
        .btn-action {
            background-color: #37cc8a;
            width: 25.788rem;
            color: $primary-color;
            border-radius: 5px;
            padding: 10px;
            font-size: 16px;
            border: none;
            box-shadow: 0px 3px 0px 0px rgba(45,173,115,1);
            transition-duration: 0.4s;

            &:hover {
              cursor: pointer;
              background-color: #1af391;
              
            }
            &:active {
              background-color: #1af391;
              box-shadow: 0 3px rgba(45,173,115,1);
              transform: translateY(4px);
            }
        }

        .error-container {
          text-align: end;
          .error {
            font-size: 12px;
            color: #ff6969;
            text-align: end;
           }
        }
      }
      .terms {
        font-size: 10px;
        color: gray;
        text-align: center;
        margin-top: 13px;
        &-strong {
            color: hsl(0, 100%, 74%);
        }
      }
    }
  }
}

@media (max-width: 1318px) {
  .container {
    margin-inline: 50px;
  }
}
@media (max-width: 1172px) {
  .container {
    margin: 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .right-sec, .left-sec {
      width: 100%;

      .title {
        font-size: 2rem;
      }
      .paragraph {
        font-size: 0.8rem;
      }
    }
  }
}

@media (max-width: 500px) {
  .container {
    
    .right-sec, .left-sec {
      width: 100%;

      .title {
        font-size: 2rem;
      }
      .paragraph {
        font-size: 0.8rem;
      }
    }
  }
  
}